<div fxLayout="row" fxLayoutAlign="space-around center">
<mat-card class="home-card">
  <mat-card-header>
    <div mat-card-avatar class="header-image"></div>
    <mat-card-title>GravityRush</mat-card-title>
    <mat-card-subtitle>Plateforme / Arcade</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image [src]="image" alt="Logo de GravityRush">
  <mat-card-content>
    <div>
      Lors d’une expédition spatiale, un jeune astronaute (Aaron) s’aperçoit d’une pluie de météorites se dirigeant droit vers la planète habitée la plus proche, (DZ-1601). Bravant tous les dangers, il décide de traverser le champ d'astéroïdes afin d’informer la population de cette catastrophe imminente. Cependant, durant sa traversée, il est percuté par un météore ce qui le pousse à se poser en urgence. Aaron décida de se poser sur la lune la plus proche, dans l’urgence, il mit sa combinaison spatiale et sauta avant que le vaisseau n’explose. Le choc et la chute sont tels que l’astronaute finit par être projeté hors de son vaisseau et perd ainsi connaissance.
      <br><br>
      À son réveil, il constate être sur une planète alors inconnue, loin de son vaisseau. Il remarque que l'émetteur SOS est encore actif, il se lance de suite en marche.
      <br><br>
      Arrivé à l’endroit du crash, il constate, par chance, que le vaisseau n'était pas détruit. Il réussit à le réparer en enlevant les parties intérieures non indispensables. Cela a pour effet d’augmenter sa vitesse, tout est encore possible. L’heure n’est plus à l’information, il faut détruire le plus gros météore afin de limiter les dégâts.
    </div>
  </mat-card-content>
  <mat-card-actions class="centerThis">
    <button mat-button routerLink="/gravityRush" routerLinkActive="active">PLAY</button>
  </mat-card-actions>
</mat-card>
</div>
